<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
               integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/}+${css}+'.css'" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <form th:action="@{/salvarFilme/{username} (username = ${username})}" th:object="${filme}" method="post">
            <p>Titulo <input type="text" th:field="*{titulo}" name="titulo" class="form-control mb-4 col-4"></p>
            <p>Sinopse <input type="text" th:field="*{sinopse}" name="sinopse" class="form-control mb-4 col-4"></p>
            <p>Genero <input type="text" th:field="*{genero}" name="genero" class="form-control mb-4 col-4"></p>
            <p>Ano de Lancamento <input type="number" th:field="*{anoLancamento}" name="anoLancamento" class="form-control mb-4 col-4"></p>
            <input type="hidden" th:field="*{id}" name="id">
            <input type="submit" name="name" value="Atualizar" class="btn btn-primary">
        </form>
        <br>
        <a th:href="@{/}">retornar</a>
    </body>
</html>
