/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 de jul. de 2024, 18:10:13
    Author     : Murilo
*/
body{ 
  background-color: white; 
  font-family: Verdana; 
  color: #505050 
} 
a, a:visited{ 
  color: #505050; 
}
