<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>aAAAAAAAAAAAAAAAAAA</h1>


    <form th:action="@{/cadastrarUser}" method="post">
        <p><b>Nome: </b><input type="text" th:field="*{nome}"></p>
        <p><b>Idade: </b><input type="text" th:field="*{idade}"></p>
        <p><b>Email: </b><input type="text" th:field="*{email}"></p>
        <input type="submit" class="btn btn-primary" text="Confirmar">
    </form>
</body>
</html>