<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        accesskey=""integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <header>
        <h1></h1>
    </header>
    <body>
        <div class="">
            <div class="w-50 mx-auto" style="margin-top: 50px; display: flex">
                <div class="w-50" style="display: inline-block">
                    <form th:action="@{/cadastrarUsuario}" style="margin-left: 15px" th:object="${lutador}" method="post">
                        <input type="text" name="name" th:field="*{nome}" placeholder="Nome">
                        <input type="text" name="name" th:field="*{idade}" placeholder="Idade" style="width: 100px">
                        <input type="text" name="name" th:field="*{altura}" placeholder="Altura" style="width: 100px">
                            <br>
                        <input type="text" name="name" th:field="*{peso}" placeholder="Peso" style="width: 100px; margin-top: 7px">
                            <input type="text" name="name" th:field="*{nacionalidade}" style="margin-top: 7px" placeholder="Nacionalidade">
                        <input type="submit" class="btn btn-primary" style="margin-left: 66%; margin-top: 3%" value="Cadastrar" />
                        <br> 
                        <span class="text-danger" th:text="${msg1}"></span>
                    </form>
                </div>

                <div class="w-50" style="display: inline-block;">
                    <form th:action="@{/marcarLuta}" style="margin-left: 15px" th:object="${Marcarluta}" method="post">
                        <label>lutador 1</label>
                        <input type="number" th:field="*{desafiado_id}" name="name">
                        <label>Rounds</label>
                        <input type="number" th:field="*{rounds}" style="width: 100px" name="name">
                            <br>
                        <label>lutador 2</label>
                        <input type="number" th:field="*{desafiante_id}" name="name">
                        <label>Data</label>
                        <input type="date" th:field="*{data}" name="name">
                            <input type="submit" class="btn btn-primary" name="name" value="Marcar Luta" style="margin-left: 72%; margin-top: 2%"> 
                        <span class="text-danger" th:text="${msg2}"></span>
                    </form>
                </div>
            </div>
            
            <div class="w-50 mx-auto" style="margin-top: 25px">
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Desafiante</th>
                            <th>Desafiado</th>
                            <th>Rounds</th>
                            <th>Aprovada</th>
                            <th>Data</th>
                            <th>Operações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="luta : ${lutas}">
                            <td th:text="${luta.id}">
                            <td th:text="${luta.desafiante_id}">
                            <td th:text="${luta.desafiado_id}">
                            <td th:text="${luta.rounds}">
                            <td th:text="${luta.aprovada}">
                            <td th:text="${luta.data}">
                                <td>
                                    <a th:href="@{/verLutadores/{id} (id = ${luta.id})}" class="btn btn-primary">Ver</a>
                                    <a th:href="@{/AlterarStatus/{id} (id = ${luta.id})}" class="btn btn-primary">Mudar Aprovação</a>
                                    <a th:href="@{/deletarLuta/{id} (id = ${luta.id})}" class="btn btn-danger">Deletar</a>
                                </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            

            <div class="w-75 mx-auto" style="margin-top: 80px">
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Idade</th>
                            <th>Altura</th>
                            <th>Peso</th>
                            <th>Nacionalidade</th>
                            <th>Categoria</th>
                            <th>Vitorias</th>
                            <th>Derrotas</th>
                            <th>Empates</th>
                            <th>Operações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="lutador : ${lutadores}">
                            <td th:text="${lutador.id}">
                            <td th:text="${lutador.nome}">
                            <td th:text="${lutador.idade}">
                            <td th:text="${lutador.altura}">
                            <td th:text="${lutador.peso}">
                            <td th:text="${lutador.nacionalidade}">
                            <td th:text="${lutador.categoria}">
                            <td th:text="${lutador.vitorias}">
                            <td th:text="${lutador.derrotas}">
                            <td th:text="${lutador.empates}">
                                <td>
                                    <a th:href="@{/PagAtualizar/{id} (id=${lutador.id})}" class="btn btn-primary">Atualizar</a>
                                    <a th:href="@{/deletar/{id} (id=${lutador.id})}" class="btn btn-danger">Deletar</a>
                                </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>
    </body>
</html>
