<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        accesskey=""integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <header>

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/pagIndex}">Home</a></li>

                            <li class="nav-item"><a class="nav-link" th:href="@{/pagCadastrarUser}">
                                    << Cadastrar User>>
                                </a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/pagLogin}">
                                    << Login>>
                                </a></li>

                        </ul>
                    </div>
                </div>
            </nav>

        </header>
        
        <div class="container">
            <br>
            <br>
            <h1>Detalhes do Funcionario</h1>
            <div th:object="${user}">
                <div>
                    <br>
                    <p><b>ID: </b><span th:text="${user.id}" class="class"></span></p>
                    <p><b>Nome: </b><span th:text="${user.nome}" class="class"></span></p>
                    <p><b>RG: </b><span th:text="${user.rg}" class="class"></span></p>
                    <p><b>CPF: </b><span th:text="${user.cpf}" class="class"></span></p>
                    <p><b>Saldo: </b><span th:text="${user.saldo}" class="class"></span></p>
                </div>
            </div>
            
            
            <div>
                
            </div>
            
        </div>   
        
        <div style="height: 100px;"></div>

        <div class="footer-copyright fixed-bottom bg-dark text-center py-3">
            <span class="text-light align-middle">| App RH - UC 12 | - ©
                2022 Copyright: CTM Supervisão de Educação Online</span>
        </div>
             
        
        
    </body>
</html>
