<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        accesskey=""integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="w-50 mx-auto border">
            <form th:action="@{/cadastrarConta}" th:object="${conta}" method="post">
                <input type="text" th:field="*{nome_usuario}" name="Campo_NomeUsuario" style="display: block" required>
                <input type="text" th:field="*{endereco}" name="Campo_Endereco" style="display: block" required>
                <input type="text" th:field="*{login}" name="Campo_Login" style="display: block" required>
                <input type="number" th:field="*{senha}" name="Campo_Senha" style="display: block" required>
                <input type="number" th:field="*{cpf}" name="Campo_CPF" style="display: block" required>
                <input type="number" th:field="*{cnpj}" name="Campo_CNPJ" style="display: block" required>
                <select id="id" th:field="*{pfpj}" name="Campo_Tipo" style="display: block">
                    <option value="pf">Pessoa Fisica</option>
                    <option value="pj">Pessoa Juridica</option>
                </select>
                <select id="id" th:field="*{tipo}" name="Campo_Tipo" style="display: block">
                    <option value="cc">Conta Corrente</option>
                    <option value="cp">Conta Poupança</option>
                </select>
                    
                    <input type="submit" name="name" value="Cadastrar" style="display: block">
            </form>
        </div>
    </body>
</html>
