<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        accesskey=""integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <a th:href="@{/MudarStatus}" class="btn btn-primary">Alterar Status</a>
            <a href="" class="btn btn-primary">Realizar Transação</a>
            <a th:href="@{/deletarConta}" class="btn btn-danger">Deletar Conta</a>
        </div>
        
        <div>
            <form th:action="@{/Depositar}" th:object="${V}" method="post">
                <input type="number" th:field="*{saldo}" name="name">
                <button th:action="@{/Depositar}" type="submit" class="btn btn-primary">Depositar</button>
                <button th:formaction="@{/Sacar}" type="submit" class="btn btn-primary">Sacar</button>
            </form>
        </div>
    </body>
</html>
