<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        accesskey=""integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <form th:action="@{/RealizarTransacao}" th:object="${Transacao}" method="post">
                <input type="number" th:field="*{conta_destino_id}" placeholder="Id Conta Destinatario" name="Campo_Conta_Destino_Id">
                    <br>
                <input type="number" th:field="*{valor}" placeholder="Valor" name="Campo_Valor">
                    <br>
                <span th:text="${msg}" class="text-danger"></span>
                    <br>
                <input type="submit" value="Realizar Transação" name="name">
            </form>
            <br>
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Conta Origem</td>
                            <td>Conta Destino</td>
                            <td>Tipo Transação</td>
                            <td>Valor</td>
                        </tr>
                    </thead>  
                    <tbody>
                        <tr th:each="transacao : ${Transacoes}">
                            <td th:text="${transacao.id}">
                            <td th:text="${transacao.contaOrigemId}">
                            <td th:text="${transacao.conta_destino_id}">
                            <td th:text="${transacao.alteracao_conta}">
                            <td th:text="${transacao.valor}">
                        </tr>
                    </tbody>
                </table>
            <br>
                <a th:href="@{/PagCentral}">Voltar</a>
        </div>
    </body>
</html>
