<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang=”pt-br” xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>

        <header>

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">App RH</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/pagIndex}">Home</a></li>

                            <li class="nav-item"><a class="nav-link" th:href="@{/pagListaFuncionarios}">
                                    << Listar Funcionarios>>
                                </a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/pagCadastrarFuncionario}">
                                    << Cadastrar Funcionario>>
                                </a></li>

                            <li class="nav-item"><a class="nav-link" th:href="@{/pagListaVagas}">
                                    << Listar Vagas>>
                                </a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/pagCadastrarVaga}">
                                    << Cadastrar Vaga>>
                                </a></li>

                        </ul>
                    </div>
                </div>
            </nav>

        </header>

        <div class="container">
            
            <h1>Lista de Funcionarios Cadastrados</h1>
            
            <table class="table table-hover table-responsive-md w-auto table-striped">
                <thead>
                    <tr>
                        <th class="col">Nome</th>
                        <th class="col">Idade</th>
                        <th class="col">Cpf</th>
                        <th class="col">email</th>
                        <th class="col"></th>
                        <th class="col">Ações</th>
                        <th class="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="funcionario : ${funcionarios}">
                        <td th:text="${funcionario.nome}"></td>
                        <td th:text="${funcionario.idade}"></td>
                        <td th:text="${funcionario.cpf}"></td>
                        <td th:text="${funcionario.email}"></td>
                        <td><a th:href="@{/deletarFuncionario/{id} (id = ${funcionario.id})}"><button type="button" class="btn btn-danger">Excluir</button></a></td>
                        <td><a th:href="@{/pagAtualizarFuncionario/{id} (id = ${funcionario.id})}"><button type="button" class="btn btn-primary">Editar</button></a></td>
                        <td><a th:href="@{/pagDetalhesFuncionario/{id} (id = ${funcionario.id})}"><button type="button" class="btn btn-success">Adic. Dependente</button></a></td>
                            
                            
                        
                    </tr>
                </tbody>
            </table>
            
        </div>
        
        <br>
        
        <div class="footer-copyright fixed-bottom bg-dark text-center py-3">
                <span class="text-light align-middle">| App RH - UC 12 | - ©
                    2022 Copyright: CTM Supervisão de Educação Online</span>
            </div>
    </body>
</html>
