<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <h1>Cadastro de Filmes</h1>
        <form th:action="@{/cadastroFilmes}" th:object="${Filmes}">
            
            <p>ID: <input type="number" th:field="*{id}" /> </p>
            <p>Titulo: <input type="text" th:field="*{titulo}" /> </p>
            <p>Sinopse: <input type="text" th:field="*{sinopse}" /> </p>
            <p>Genero: <input type="text" th:field="*{genero}" /> </p>
            <p>Ano de Lançamento: <input type="text" th:field="*{anoLancamento}" /> </p>
            <p><input type="submit" value="Cadastrar" /></p>
        </form>
    </body>
</html>
