<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <header th:insert="navbar.html"></header>
        <h1>Cadastro de Filmes</h1>
        <form th:action="@{/cadastroFilmes}" method="POST">
            
            
            <p>Titulo: <input type="text" th:field="${filme.titulo}" /> </p>
            <p>Sinopse: <input type="text" th:field="${filme.sinopse}" /> </p>
            <p>Genero: <input type="text" th:field="${filme.genero}" /> </p>
            <p>AnoLançamento: <input type="number" th:field="${filme.ano}" /></p>
            <button type="submit">Cadastrar</button>
        </form>
    </body>
</html>
