<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <header th:insert="navbar.html"></header>
        <p>AAAAAAAAAAABBBBBBBBBBBB</p>
        
        <form th:action="@{/detalhesFilme}" th:object="${Analise}" method="POST">
            <p>ID: <input type="number" th:field="*{id}" /></p>
            <p>Filme: <input type="text" th:field="*{filme}" /></p>
            <p>Analise: <input type="text" th:field="*{analise}" /></p>
            <p>Nota: <input type="number" th:field="*{nota}" /></p>
            <p><input type="submit" value="Enviar" /></p>
        </form>
        
    </body>
</html>
