<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main class="container">
            
            <br>
            <br>
            <br>
                
            <div class="w-50 mx-auto">
                <form th:action="@{/loginUser}" th:object="${User}" method="post">
                    <p><b>Nome: </b><input type="text" class="form-control" th:field="*{username}" name="name"></p>
                    <br>
                    <p><b>Senha: </b><input type="text" class="form-control" th:field="*{password}" name="name"></p>
                    <br>
                    <input type="submit" value="login" class="btn btn-success" name="name">
                </form>
            </div>
            <a th:href="@{/pagCriarConta}">Criar Conta</a>
        </main>
    </body>
</html>
