<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
           integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <main class="container">
            
            <br>
            <br>
            <br>
                
            <div class="w-50 mx-auto">
                <form th:action="@{/cadastrarUser}" th:object="${newUser}" method="post">
                    <p><b>Nome: </b><input type="text" class="form-control" th:field="*{username}" name="name"></p>
                    <br>
                    <p><b>Senha: </b><input type="text" class="form-control" th:field="*{password}" name="name"></p>
                    <br>
                    <input type="submit" value="Cadastrar Usuario" class="btn btn-success" name="name">
                </form>
            </div>
        </main>
    </body>
</html>
