/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 de set. de 2024, 15:47:42
    Author     : Murilo
*/
header{
    background-color: goldenrod;
    padding: 15px;
    margin-top: 80px;
}

#Titulo{
    background-color: whitesmoke;
    font-size: 45px;
    border-style: solid;
    border-width: 1px;
    padding-left: 70px;
}

h1{
    
}

body{
    background-color: green
    
}

main{
    margin-top: 3%;
    background-color: white;
}

#TipoDado{
    font-size: 19px;
    font-weight: bold;
}

#Dado{
    margin-top: 0px;
    margin-left: 5%;
    font-size: 19px;
}

#divDados{
    display: flex;
    box-shadow: 0px 1px 1px rgba(0, 0, 200, 0.200);
}

#divNomeLutador{
    display: flex;
}

#linkPag{

}

#DivLutador{
    padding: 10px;
    display: block;
    border-style: solid; 
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 10px;
}

a{
    background-color: blue
}

